<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.js"></script>
  </head>
  <script>
    const shell = require('shelljs');
    var exec = require('child_process').exec;
    function sendMessage() {
      exec(`msg="$(curl -s https://markets.businessinsider.com/currencies/btc-usd | grep -oP '(?<=<span class="price-section__current-value">).*(?=</span>)')" \
        && curl --data chat_id="5716818874" --data-urlencode "text=Valeur actuelle du Bitcoin : $ $msg " "https://api.telegram.org/bot5711757703:AAEK9nWX--WUyD2kPjpgiGTjRNps0zVErJ8/sendMessage?parse_mode"`);
    }

    /*
    setTimeout(function () {
      window.location.reload(1);
    }, 5000);
    */
  </script>
  <body>
    <h1><%= title %></h1>
    <p>
      <table>
        <% for(var i = 0; i < currencies.length; i=i+2) { %>
        <tr>
          <th style="text-transform: uppercase"><%= currencies[i+1] %></th>
          <th id=<%= currencies[i+1] %>><%= currencies[i] %></th>
        </tr>
        <% } %>
      </table>
    </p>
    <p><%= base %></p>
    <iframe class="airtable-embed" src="https://airtable.com/embed/shrtEx25ed98iua6b?backgroundColor=red" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent;"></iframe>
    <!--
      <button onClick="sendMessage()">Envoyer un message sur Telegram</button>
      <iframe src="../file.txt"></iframe>
    -->
  </body>
</html>
