<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/require.js"></script>
  </head>
  <script>

    setTimeout(function () {
      window.location.reload(1);
    }, 60000);
  </script>
  <body>
    <h1><%= title %></h1>
    <p>
      <table>
        <% for(var i = 0; i < currencies.length; i=i+2) { %>
        <tr>
          <th style="text-transform: uppercase"><%= currencies[i+1] %></th>
          <th id=<%= currencies[i+1] %>><%= currencies[i] %></th>
        </tr>
        <% } %>
      </table>
    </p>
    <iframe src="../file.txt"></iframe> 
  </body>
</html>
